*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  background-image: url("/assets/bg_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
